html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #ffffff;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  color: darkslategray;
  text-align: center;
}

main li {
  margin-bottom: 10px;
}
main ul {
  margin-top: 10px;
  padding-left: 20px;
}

button {
  background-color: darkslategray;
  color: white;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  padding: 10px 20px;
  width: 200px;
}
button .button-arrow {
  display: none;
}
button:hover .button-arrow {
  display: contents;
}

header {
  background-color: darkslategray;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 14px;
}
header a:hover {
  background-color: #111;
  border-radius: 12px;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
header nav ul li {
  margin-left: 10px;
}
header nav ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
header nav ul li a:hover {
  background-color: #111;
  border-radius: 12px;
}

footer {
  background-color: darkslategray;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}
footer a {
  color: #8c847c;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.index-page {
  display: grid;
  grid-template-areas: "cu-image cu-image" "about-us our-services" "estimates contact";
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
}
.index-page .cu-image {
  grid-area: cu-image;
  padding: 0;
  margin: 0;
}
.index-page .cu-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.index-page .about-us {
  grid-area: about-us;
  margin: 60px 30px 0 60px;
}
.index-page .our-services {
  grid-area: our-services;
  margin: 60px 60px 0 30px;
}
.index-page .contact {
  grid-area: contact;
  margin: 60px 60px 60px 30px;
}
.index-page .contact a {
  color: darkslategray;
  text-decoration: none;
}
.index-page .contact a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.index-page .estimates {
  grid-area: estimates;
  margin: 60px 30px 60px 60px;
}
.index-page .about-us, .index-page .our-services, .index-page .contact, .index-page .estimates {
  background-color: #ffffff;
  border: 3px solid darkslategray;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  margin: 60px;
}

.team-page {
  display: grid;
  grid-template-areas: "team-image team-image" "our-team our-team" "david-johnson david-johnson" "john-smith john-smith" "sarah-johnson sarah-johnson" "michael-brown michael-brown" "emily-davis emily-davis" "james-wilson james-wilson";
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
}
.team-page .team-image {
  grid-area: team-image;
  padding: 0;
  margin-bottom: 10px;
}
.team-page .team-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.team-page .our-team, .team-page .david-johnson, .team-page .john-smith, .team-page .sarah-johnson, .team-page .michael-brown, .team-page .emily-davis, .team-page .james-wilson {
  background-color: #ffffff;
  border: 3px solid darkslategray;
  border-radius: 12px;
  padding: 40px;
  width: 100%;
  max-width: 800px;
  margin: 60px;
}
.team-page .team-photos {
  border-radius: 50%;
  margin: 20px;
  height: 200px;
}
.team-page .team-photos img {
  object-fit: cover;
}
.team-page .our-team {
  grid-area: our-team;
}
.team-page .david-johnson {
  grid-area: david-johnson;
}
.team-page .john-smith {
  grid-area: john-smith;
}
.team-page .sarah-johnson {
  grid-area: sarah-johnson;
}
.team-page .michael-brown {
  grid-area: michael-brown;
}
.team-page .emily-davis {
  grid-area: emily-davis;
}
.team-page .james-wilson {
  grid-area: james-wilson;
}

.services-page {
  display: grid;
  grid-template-areas: "services-image services-image" "domestic-image domestic-work" "commercial-work commercial-image" "fault-finding-image fault-finding-work" "testing-inspection-work testing-inspection-image";
  grid-template-rows: auto;
  gap: 20px;
  justify-items: center;
}
.services-page .services-image {
  grid-area: services-image;
  padding: 0;
  margin-bottom: 10px;
  width: 100%;
}
.services-page .services-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 0% 73%;
  padding: 0;
  margin-bottom: 10px;
}
.services-page .domestic-work, .services-page .commercial-work, .services-page .fault-finding-work, .services-page .testing-inspection-work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  border: 3px solid darkslategray;
  border-radius: 12px;
  padding: 20px;
  margin: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}
.services-page .domestic-image, .services-page .commercial-image, .services-page .fault-finding-image, .services-page .testing-inspection-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 0;
  margin: 0;
}
.services-page .domestic-image img, .services-page .commercial-image img, .services-page .fault-finding-image img, .services-page .testing-inspection-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.estimates-page {
  display: grid;
  grid-template-areas: "estimates-image estimates-image" "intro-estimates intro-estimates" "domestic-estimates domestic-list" "commercial-estimates commercial-list" "testing-estimate testing-list" "total-price-container total-price-container";
  grid-template-rows: auto;
  gap: 20px;
  justify-items: center;
}
.estimates-page .estimates-image {
  grid-area: estimates-image;
  padding: 0;
  margin-bottom: 10px;
}
.estimates-page .estimates-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.estimates-page .estimates-form {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.estimates-page .intro-estimates {
  grid-area: intro-estimates;
}
.estimates-page .domestic-estimates {
  grid-area: domestic-estimates;
}
.estimates-page .domestic-list {
  grid-area: domestic-list;
}
.estimates-page .commercial-estimates {
  grid-area: commercial-estimates;
}
.estimates-page .commercial-list {
  grid-area: commercial-list;
}
.estimates-page .testing-estimate {
  grid-area: testing-estimate;
}
.estimates-page .testing-list {
  grid-area: testing-list;
}
.estimates-page .total-price-container {
  grid-area: total-price-container;
}
.estimates-page .intro-estimates, .estimates-page .domestic-estimates, .estimates-page .commercial-estimates, .estimates-page .testing-estimate, .estimates-page .domestic-list, .estimates-page .commercial-list, .estimates-page .testing-list, .estimates-page .total-price-container {
  background-color: #ffffff;
  border: 3px solid darkslategray;
  border-radius: 12px;
  margin: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 20px;
}
.estimates-page .estimates-form ul {
  list-style-type: none;
  padding: 0;
}
.estimates-page .estimates-form li {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.103);
  transition: background-color 0.3s ease;
}
.estimates-page .estimates-form li:hover {
  background-color: #f1f1f1;
}
.estimates-page .estimates-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.estimates-page .estimates-form label:hover {
  background-color: #f1f1f1;
}
.estimates-page .estimates-form label input {
  margin-left: 20px;
  width: 50px;
}
.estimates-page .additional-info-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.estimates-page .additional-info-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}
.estimates-page .additional-info-form input[type=text],
.estimates-page .additional-info-form input[type=email],
.estimates-page .additional-info-form input[type=tel],
.estimates-page .additional-info-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.estimates-page .additional-info-form textarea {
  height: 20px;
  resize: none;
}
.estimates-page .additional-info-form textarea:focus {
  height: 100px;
  resize: vertical;
}
.estimates-page .additional-info-form .btn {
  align-self: flex-end;
  margin-top: 20px;
}

.contact-page {
  display: grid;
  grid-template-areas: "contact-image contact-image" "contact-intro contact-intro" "contact-info contact-map" "contact-form-container contact-form-container";
  grid-template-rows: auto;
  gap: 20px;
  justify-items: center;
}
.contact-page .contact-image {
  grid-area: contact-image;
  padding: 0;
  margin-bottom: 10px;
}
.contact-page .contact-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 0% 65%;
}
.contact-page .contact-intro {
  grid-area: contact-intro;
}
.contact-page .contact-info {
  grid-area: contact-info;
}
.contact-page .contact-map {
  grid-area: contact-map;
}
.contact-page .contact-map iframe {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 300px;
}
.contact-page .contact-form-container {
  grid-area: contact-form-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 3px solid darkslategray;
  border-radius: 12px;
  padding: 20px;
  margin: 60px;
  text-align: center;
  width: 100%;
  max-width: 600px;
}
.contact-page .contact-form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-page .contact-form-container form label {
  margin-bottom: 10px;
  text-align: left;
}
.contact-page .contact-form-container form input[type=text],
.contact-page .contact-form-container form input[type=email],
.contact-page .contact-form-container form input[type=tel],
.contact-page .contact-form-container form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.contact-page .contact-form-container form textarea {
  height: 40px;
  resize: none;
}
.contact-page .contact-form-container form textarea:focus {
  height: 100px;
  resize: vertical;
}
.contact-page .contact-form-container form .btn {
  align-self: flex-end;
  margin-top: 20px;
}
.contact-page .contact-intro, .contact-page .contact-info, .contact-page .contact-map, .contact-page .contact-form-container {
  background-color: #ffffff;
  border: 3px solid darkslategray;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  max-width: 600px;
}
.contact-page .contact-info a {
  color: darkslategray;
  text-decoration: none;
}
.contact-page .contact-info a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
